.box {
    background-color: darkcyan;
    height: 50px;
    border: 1px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nested {
    background-color: green;
    height: 40px;
    border: 1px solid darkcyan;
}

.block {
    display: block;
}

.mt20 {
    margin-top: 20px;
}