

[class*="col-"] {
    background-color: darkcyan;
    padding: 1rem;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    
}

.nested {
   
    padding: .5rem;
}

.nested [class*="col-"] {
    background-color: aquamarine;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.section-bottom .box {
    border-right: none;
    border-left: none;
}